

$res_mobile: 420px;
$res_tablet: 900px;
$gradiente: radial-gradient( circle 410px at 49.5% 99%,  rgba(250,208,196,1) 0%, rgba(255,209,255,1) 99.5% );
$colorhover: #ce8abc;




@mixin fondoboton {
    background-color: #ce8abc;
    border: 2px solid rgb(222, 136, 187);
}
















